# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/myapp"
# JWT_SECRET="your_jwt_secret"
# PORT=3000
DATABASE_URL="postgresql://neondb_owner:npg_zu7kpsJBrG1b@ep-shy-shadow-a1a7euxc-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="your_jwt_secret"
PORT=4000
